<div class="container">
  <p class="contact-heading-text" style="max-width: 476px;">Contact us</p>
  <div class="row" style="row-gap: 30px;">
    <div class="col-xl-6">
      <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
        <p style="max-width: 476px;">We are all cat persons, so if you got any question, drop it below and we will
          contact you back!</p>
        <div class="row" style="margin-bottom: 32px; max-width: 476px;">
          <div class="col-xl-3">
            <label class="contact-text col-form-label" style="white-space: nowrap;">Your Full Name</label>
          </div>
          <div class="col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && contactForm.controls.fullName.errors }" class="form-control"
              type="text" placeholder="Type your name" formControlName="fullName">
            <div *ngIf="submitted && contactForm.controls.fullName.errors" class="invalid-feedback">
              <div *ngIf="contactForm.controls.fullName.errors['required']">Full name is required</div>
            </div>
          </div>
        </div>
        <div class="row" style="max-width: 476px;">
          <div class="col-xl-3">
            <label class="contact-text col-form-label">Your Email</label>
          </div>
          <div class="col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && contactForm.controls.email.errors }" class="form-control"
              type="text" placeholder="Type your email" formControlName="email">
            <div *ngIf="submitted && contactForm.controls.email.errors" class="invalid-feedback">
              <div *ngIf="contactForm.controls.email.errors['required']">Email is required</div>
              <div *ngIf="contactForm.controls.email.errors['email']">Email is invalid</div>
            </div>
          </div>
        </div>
        <hr class="divider-style" />
        <div class="row justify-content-between" style="max-width: 476px;">
          <div class="col-md-6" style="max-width: 172px;">
            <label>City</label>
            <input [ngClass]="{ 'is-invalid': submitted && contactForm.controls.city.errors }" type="text"
              class="form-control" placeholder="ex. Thessaloniki" formControlName="city">
            <div *ngIf="submitted && contactForm.controls.city.errors" class="invalid-feedback">
              <div *ngIf="contactForm.controls.city.errors['required']">City is required</div>
            </div>
          </div>
          <div class="col-md-6" style="max-width: 172px;">
            <label>Postal Code</label>
            <input [ngClass]="{ 'is-invalid': submitted && contactForm.controls.postalCode.errors }" type="text"
              class="form-control" placeholder="ex. 54658" formControlName="postalCode">
            <div *ngIf="submitted && contactForm.controls.postalCode.errors" class="invalid-feedback">
              <div *ngIf="contactForm.controls.postalCode.errors['required']">Postal Code is required</div>
            </div>
          </div>
        </div>
        <div style="max-width:476px; margin-top: 32px;">
          <label>Address</label>
          <input [ngClass]="{ 'is-invalid': submitted && contactForm.controls.address.errors }" type="text"
            class="form-control" placeholder="ex. Thessaloniki" style="max-width: 288px;" formControlName="address">
          <div *ngIf="submitted && contactForm.controls.address.errors" class="invalid-feedback">
            <div *ngIf="contactForm.controls.address.errors['required']">Address is required</div>
          </div>
        </div>
        <div style="max-width:476px; margin-top: 36px;">
          <div class="row justify-content-between">
            <div class="col-auto">
              <label>Your Message</label>
            </div>
            <div class="col-auto ml-auto">
              <label class="optional-text">Optional</label>
            </div>
          </div>
          <textarea class="form-control form-message" placeholder="Type your message"
            formControlName="message"></textarea>
        </div>
        <div class="form-check" style="margin-top: 26px;">
          <input [ngClass]="{ 'is-invalid': submitted && contactForm.controls.tos.errors }" class="form-check-input"
            type="checkbox" formControlName="tos">
          <label class="form-check-label" style="font-size: 14px;">
            I agree with the Terms & Conditions
          </label>
        </div>
        <button type="button" (click)="sendEmail()" class="btn send-button send-btn">Send!</button>
      </form>
    </div>
    <div class="col-xl-6 d-flex flex-column" >
      <img class="map" src="/assets/map-photo.png" alt="map-photo" width="100%" />
      <p class="headquarters">Headquarters</p>
      <p class="address" style="margin-bottom: 0;">Aristotelous 16, 54658</p>
      <p class="address" style="margin-bottom: 30px;">+30 231 129 0998</p>
      <p class="address" style="margin-bottom: 0;">Thessaloniki, Greece</p>
      <p class="address">hey@smellycat.gr</p>
    </div>
  </div>
</div>