.contact-heading-text {
  font-weight: bold;
  font-size: 40px;
}

.contact-text {
  font-weight: 600;
  font-size: 14px;
}

.divider-style {
    max-width: 476px;
    margin-top: 42px;
    margin-bottom: 40px;
}

.form-message {
  height: 168px; 
  resize: none;
}

.headquarters {
  font-weight:bolder; 
  font-size: 24px; 
  margin-top: 45px; 
  margin-left: auto;
}

.address {
  font-weight:normal; 
  font-size: 18px; 
  margin-left: auto;
}

.map {
  border-radius: 8px; 
  margin-left: auto;
  max-width: 476px;
}

.optional-text {
  font-weight: normal;
  font-size: 14px;
  color: #9784FF;
}

.send-btn {
  margin-top: 46px; 
  width: 169px; 
  height: 48px;
  background-color: #EF7878;
  color: #FFFFFF;
}
@media screen and (max-width: 1366px) {
  .headquarters {
    font-weight:bolder; 
    font-size: 24px; 
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .address {
    font-weight:normal; 
    font-size: 18px; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .map {
    border-radius: 8px; 
    margin-left: auto;
    margin-right: auto;
  }
}