<footer class="footer">
  <div class="container">
    <div class="row align-items-center justify-content-between" style="padding-top:62px; padding-bottom: 42px;">
      <div class="d-flex col-sm-12 col-xl-4 justify-content-center justify-content-md-center social-margin-bottom">
        <img src="/assets/footer-logo.png" alt="footer-logo" />
      </div>
      <div class="col-sm-12 col-xl-4 text-center">
        <div class="row">
          <div class="col-xl-auto col-sm-12 footer-text-bold"><a class="footer-link" href="#">Privacy Policy</a></div>
          <div class="col-xl-auto col-sm-12 footer-text-bold"><a class="footer-link" href="#">Terms & Conditions</a></div>
          <div class="col-xl-auto col-sm-12 footer-text-bold"><a class="footer-link" href="#">Blog</a></div>
          <div class="col-xl-auto col-sm-12 footer-text-bold"><a class="footer-link" href="#">Support</a></div>
        </div>
      </div>
      <div class="col-xl-4 d-flex justify-content-center justify-content-xl-end gap-3 social-margin-top">
        <img src="/assets/discord-icon.svg" alt="discord-icon" />
        <img src="/assets/twitter-icon.svg" alt="twitter-icon" />
        <img src="/assets/instagram-icon.svg" alt="instagram-icon" />
      </div>
    </div>
    <p class="text-center copyright-text">Copyright © SmellyCat 2020</p>
  </div>
</footer>