.footer {
  flex-shrink: 0;
}

footer {
  background-color: black;
}

.footer-text-bold {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

.copyright-text {
  color: #E1E4EA;
  font-family: 'Manrope';
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.footer-link {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 1366px) {
  .social-margin-top {
    margin-top: 15px;
  }
  .social-margin-bottom {
    margin-bottom: 10px;
  }
}