<nav class="navbar navbar-expand-lg sticky-top bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.png" alt="SmellyCat" height="30px" width="123px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mb-lg-0 gap-5">
        <li class="nav-item">
          <a class="nav-link nav-item-style" href="#">Adopt Kittens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-style" href="#">Kitty Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-style" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-style" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-style" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>