<div class="modal-header">
    <h4 class="modal-title">Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Contact form was submitted successfully</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">OK</button>
  </div>
  